  
   h1{
    text-align: center;
    border: 10px;
    border-style: dashed;
    border-color: orange;
    width: 200px;
    padding-right: 20px;
    margin: auto;
    
}
  .box{
    outline:solid 10px yellow;
    margin: 10% 18%  50% 20%;
    border: solid 10px green;
    padding: 20px 5px 20px 40px;
    margin-bottom: 100%;
 }
 .box2{
    border: solid 4px darkorange;
    border-width: 5px;
    padding: 10% 5% 10% 6%;
    outline: solid 8px purple;
    margin: 25px;
 }

 .box3{
    outline:solid 3px darkgreen;
    margin: 5px;
    text-align: center;
    border: solid 2px  blue;
    padding: 10% 20% 15% 20% ;
 }

     
 